:root {
  --primary: hsl(160deg, 100%, 30%);
  --secondary-light: hsl(45deg, 100%, 50%);
  --secondary-dark: hsl(45deg, 100%, 40%);
  --grayscale-black: hsl(0deg, 0%, 0%);
  --grayscale-very-dark: hsl(0deg, 0%, 10%);
  --grayscale-dark: hsl(0deg, 0%, 30%);
  --grayscale-medium: hsl(0deg, 0%, 40%);
  --grayscale-light: hsl(0deg, 0%, 60%);
  --grayscale-white: hsl(0deg, 0%, 100%);

  --font-size-xxl: 2rem;
  --font-size-xl: 1.5rem;
  --font-size-lg: 1.25rem;
  --font-size-base: 1rem;
}

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

html {
  font-size: var(--font-size-lg);
}

.max-width-wrapper {
  margin: 0 auto;
  max-width: 750px;
  padding: 24px;
}

header {
  background-color: var(--grayscale-white);
  border-bottom: var(--grayscale-medium) 8px solid;
  padding: 64px 0;
}

.intro-chunk {
  max-width: 560px;
}

.intro-chunk p {
  font-size: var(--font-size-xl);
}

.intro-chunk strong {
  color: var(--primary);
}

.title {
  font-size: var(--font-size-xxl);
}

main {
  padding: 96px 0;
  background-color: var(--grayscale-light);
}

.card {
  padding: 24px;
  margin: -24px;
  background-color: var(--grayscale-white);
  border-bottom: var(--grayscale-medium) 8px solid;
}

.card p:last-child {
  margin-bottom: 0;
}

.indented-heading {
  margin: 0;
  margin-top: -16px;
  margin-left: -48px;
  padding: 24px 48px;
  background-color: var(--secondary-light);
  border-bottom: var(--secondary-dark) 8px solid;
  width: fit-content;
}
